@{
    ViewBag.Title = "Index";
}

<p>For updates, enter your email address:</p>
@using (Html.BeginForm("Add", "Home", FormMethod.Post))
{
    @Html.TextBox("EmailAddress", "", new { type = "email" });
    <input type="submit" />
}
